:root{
  --basic-light-black:#333333;
  --basic-black:#000000;
  --basic-white:#ffffff;
  --basic-dark-white: #f2f2f2;
  --basic-grey:#eeeeee;
  --basic-dark-grey:#6a6a6a;
  --basic-light-blue:#81B3D2;
  --basic-blue:#669ec0;
  --basic-dark-blue: #5496bd;
  --basic-light-brown: #766367;
  --basic-brown: #604E43;
  --basic-dark-brown:  #503E33;
  --basic-light-grey:#666666;
  --basic-button-price: #ababab;
}

html{
  height: 100%;
}

body{
  font-size: 14px;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-dark-white);
  min-width: 1200px;
  height: 100%;
}

a{
  text-decoration: none;
  color: var(--basic-black)
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*index*/
.container{
  display:grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: flex-start;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.menu{
  background-color: var(--basic-white);
}

.navigation-list{
  min-width: 1200px;
  font-weight: 700;
  color: var(--basic-black);
  line-height: 26px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}

.main-logo{
  width: 138px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 0px;
  margin-left: -69px;
}

.navigation-list, .hotels-list, .reasons-list, .extras-list, .points-list{
  list-style:none;
  margin: 0;
  padding: 0;
}

.navigation-list a{
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation-list a:hover{
  color:var(--basic-light-blue);
}

.navigation-list a:active{
  color: rgba(0, 0,0,0.3);
}

.actual-page{
  color: var(--basic-light-brown);
}

.navigation-list li{
  box-sizing: border-box;
  width: 240px;
}

.navigation-list li:first-child{
  margin-left: 72px;
}

.navigation-item-right{
  text-align: right;
}

.navigation-list li:nth-child(3){
  margin-left: auto;
}

.navigation-list li:last-child{
  margin-right: 72px;
}

.main{
  background-image:
  url("../img/shape-main.png"),
  url("../img/background-main.jpg");
  background-position:
  center bottom;
  background-repeat: no-repeat;
  min-width: 1200px;
  min-height: 509px;
  display: flex;
  justify-content: center;
}

.subtitle-section{
  background-color: var(--basic-white);
  min-height: 216px;
  padding-top: 42px;
}

.subtitle{
  width: 470px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-top: 42px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
}

.blank{
  width: 100%;
  font-size: 21px;
  background-color: var(--basic-white);
  margin:0;
  padding-top: 10px;
  text-align: center;
}

.text{
  color: var(--basic-light-black);
  text-align: center;
  line-height: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 51px;
}

.reasons-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.reason{
  box-sizing: border-box;
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  text-align: center;
  width: 400px;
  padding-top: 47px;
}

.reason h3{
  font-size: 21px;
  font-weight: 700;
}

.total-reason-group{
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
}

.extras-list li{
  background-color: var(--basic-white);
  color: var(--basic-light-black);
  text-align: center;
  padding-top: 160px;
  padding-bottom: 82px;
  width: 400px;
  height: 330px;
}

.extras-list h3, .another-reason h3{
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
}

.extras-list{
  display: flex;
  flex-wrap: wrap;
}

.extra-item{
  box-sizing: border-box;
  width: 400px;
  background-repeat: no-repeat;
  background-position: 50% 64px;
}

.living{
  background-image: url(../img/icon-1.svg);
}

.food{
  background-image: url(../img/icon-3.svg);
}

.souvenirs{
  background-image: url(../img/icon-2.svg);
}

.total-reason-group.reverse{
  flex-direction: row-reverse;
}

.another-reason{
  background-color: var(--basic-grey);
  color: var(--basic-light-black);
  text-align: center;
  padding-top: 47px;
  padding-bottom: 54px;
}

.interested-form{
  position: relative;
}

.interested{
  min-height: 233px;
  line-height: 24px;
  text-align: center;
  background-color: var(--basic-white);
  padding-top: 58px;
}

.interested h3{
  font-size: 30px;
  margin-top: 0;
}

.main-form{
  box-sizing: border-box;
  width: 568px;
  height: 481px;
  position: absolute;
  top: 205px;
  left: 50%;
  margin-left: -284px;
}

.button-subtitle{
  background-color: var(--basic-light-brown);
  font-size:21px;
  line-height: 26px;
  width: 100%;
  height: 86px;
}

.search-form{
  background-color: var(--basic-white);
  padding: 55px;
}

.date-form{
  display: flex;
  align-items: baseline;
}

.form{
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 42px;
  min-height: 26px;
}

.form-enter, .form-leave{
  min-width: 121px;
  margin-right: -6px;
}

.date{
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  background-color: var(--basic-dark-white);
  display: flex;
  justify-content: space-between;
}

.date input{
  box-sizing: border-box;
  width: 133px;
  height: 26px;
  background-color: inherit;
  border:none;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 13px;
}

.date button, .guests-number button, .infrastructure, .hotel-type, .prices{
  border: none;
}

.button{
  color: var(--basic-white);
  font-weight: 700;
  margin: 0;
}

.calendar{
  margin-top: 8px;
  margin-right: 9px;
  margin-bottom: 8px;
}

.guests{
  display: flex;
}

.guests-number-form{
  display: flex;
}

.form-adults{
  min-width: 101px;
}

.form-children{
  min-width: 57px;
  margin-left: 53px;
}

.guests-number{
  box-sizing: border-box;
  width: 114px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 11px;
  background-color: var(--basic-dark-white);
}

.guests-number input{
  width: 36px;
  background-color: inherit;
  text-align: center;
  border: none;
}

.button-search{
  background-color: var(--basic-light-blue);
  font-size:21px;
  line-height: 26px;
  width: 458px;
  height: 58px;
  margin: 0px;
}

/*hotels*/
.search-filters{
  box-sizing: border-box;
  background-color: var(--basic-dark-blue);
  background-image: url("../img/background-hotels.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--basic-white);
  min-height: 217px;
  padding-top: 27px;
  padding-bottom: 32px;
  margin: 0;
}

.search-filters legend{
  font-size: 16px;
  font-weight: 700;
}

.search-filters input, .show-button{
  background-color: transparent;
  color: var(--basic-white);
  text-transform: inherit;
  line-height: inherit;
}

.choose-hotel-form{
  display: flex;
}

.infrastructure{
  margin-left: 72px;
}

.points-list li, .hotel-type li{
  margin-top: 25px;
}

.prices{
  margin-left: auto;
  margin-right: 73px;
  padding:0;
}

.price-filter{
  margin-top: 10px;
  width: 317px;
}

.price-controls{
 border: 2px solid var(--basic-white);
 border-radius: 2px;
 width: 317px;
 padding-top: 7px;
 padding-bottom: 7px;
}

.price-min{
  min-width: 58px;
  height: 21px;
  margin-left: 52px;
  padding-right: 49px;
  border-right: 2px solid var(--basic-white);
}

.price-max{
  min-width: 83px;
  height: 21px;
  margin-right: 36px;
  margin-left: 36px;
}

.price-controls input{
  margin-right: 15px;
  width: 33px;
  border: none;
}
.range-controls{
  position: relative;
  background-color: transparent;
  height: 32px;
  margin-top: 11px;
  padding-top: 9px;
}

.range-controls .scale{
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar{
  width: 75%;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle{
  width: 4px;
  height: 4px;
  padding:0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--basic-button-price);
  position: absolute;
  top: 2px;
  cursor: pointer;
}

.range-controls .toggle-min{
  left: 0;
}

.range-controls .toggle-max{
  left: 233px;
}

.show-button{
  width: 137px;
  height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  position: relative;
  left: 50%;
  margin-left: -69px;
}

.sort{
  background-color: var(--basic-white);
  font-size: 12px;
  line-height: 18px;
  padding-top: 31px;
  display: flex;
  align-items: baseline;
}

.search-results{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  margin:0;
  padding-left: 72px;
  padding-right: 46px;
}

.types-chosen a{
  background-color: transparent;
  color: rgba(0, 0,0,0.3);
  border-bottom:  1px dashed #81B3D2; ;
}

a.active-type{
  color: var(--basic-light-blue);
  border-bottom: none;
  margin-left: 40px;
  margin-right: 32px;
}

.types-chosen a:last-child{
  margin-left: 32px;
  margin-right: 503px;
}

.up{
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.down{
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

.hotels-list{
  background-color: var(--basic-white);
}

.hotels-list li{
  display: flex;
  align-items: center;
  min-height: 150px;
}

.hotel-about{
  margin-left: 29px;
}

.hotel-name{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}

.hotel-name a:hover{
  color: var(--basic-light-blue);
}

.hotel-name a:active{
  color: rgba(0, 0,0,0.3);
}

.hotel-photo{
  margin-left: 73px;
  width: 135px;
  height: 90px;
  order: -1;
}

.hotel-description{
  color: var(--basic-light-black);
  margin: 0;
  margin-top: 7px;
  margin-bottom: 15px;
}

.columns-hotels{
  display: flex;
}

.total-rating{
  display: flex;
  flex-direction: column;
  order: 1;
  margin:0;
  margin-left: auto;
  margin-right: 72px;
}

.stars{
  margin-left: auto;
  margin-bottom: 47px;
}

span.rating{
  display: block;
}

.rating{
  background-color: var(--basic-dark-white);
  color:var(--basic-light-grey);
  width: 83px;
  height: 21px;
  padding-top:3px;
  padding-right: 12px;
  padding-bottom: 3px;
  padding-left: 15px;
}

.button-more{
  background-color: var(--basic-light-blue);
  width: 77px;
  height: 21px;
  padding-top:3px;
  padding-right: 16px;
  padding-bottom: 3px;
  padding-left: 17px;
  margin-right: 6px;
}

.button-more:hover, .button-search:hover, .icon:hover{
  background-color: var(--basic-blue);
}

.button-more:active, .button-search:active{
  background-color: var(--basic-dark-blue);
  color: rgba(255, 255, 255, 0.3);
}

.button-book{
  background-color: var(--basic-light-brown);
  width: 109px;
  height: 21px;
  padding-top:3px;
  padding-right: 17px;
  padding-bottom: 3px;
  padding-left: 16px;
}

.button-book:hover, .button-subtitle:hover{
  background-color: var(--basic-brown);
}

.button-book:active, .button-subtitle:active{
  background-color: var(--basic-dark-brown);
  color: rgba(255, 255, 255, 0.3);
}

/*footer*/
.footer{
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  min-height: 120px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer-index{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.social-web{
  display: flex;
  justify-self: center;
}

.icon{
  width: 46px;
  height: 48px;
  margin-left: 6px;
  background-color: var(--basic-light-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon:active img{
  opacity: 0.3;
}

.production{
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  margin-left: 8px;
}
