:root{
  --basic-light-black:#333333;
  --basic-black:#000000;
  --basic-white:#ffffff;
  --basic-dark-white: #f2f2f2;
  --basic-grey:#eeeeee;
  --basic-dark-grey:#6a6a6a;
  --basic-light-blue:#81B3D2;
  --basic-blue:#669ec0;
  --basic-dark-blue: #5496bd;
  --basic-light-brown: #766367;
  --basic-brown: #604E43;
  --basic-dark-brown:  #503E33;
  --basic-light-grey:#666666;
  --basic-background-grey: #888888;
}

body{
  min-width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-background-grey);
}

a{
  text-decoration: none;
  color: var(--basic-black)
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-list{
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
  line-height: 26px;
}

.navigation-list, .hotels-list, .reasons-list, .extras-list, .points-list{
  list-style:none;
}

.navigation-list a:hover{
  color:var(--basic-light-blue);
}

.navigation-list a:active{
  color: rgba(0, 0,0,0.3);
}

.navigation-list li:first-child, .navigation-list li:nth-child(2){
  text-align: left;
}

.navigation-list li:nth-child(3), .navigation-list li:last-child{
  text-align: right;
}

.main{
  background-image:
  url("../img/shape-main.png"),
  url("../img/background-main.jpg");
  background-repeat: no-repeat;
}

.subtitle-section{
  background-color: var(--basic-white);
}
.subtitle{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.text{
  color: var(--basic-light-black);
  text-align: center;
  line-height: 26px;
}

.sort{
  background-color: var(--basic-white);
}
legend.sort{
  font-size: 12px;
  line-height: 18px;
}

.hotel-description{
  color: var(--basic-light-black);
}

.hotel-name{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-name a:hover{
  color: var(--basic-light-blue);
}

.hotel-name a:active{
  color: rgba(0, 0,0,0.3);
}

.hotels-list{
  background-color: var(--basic-white);
}
.interested{
  line-height: 24px;
  text-align: center;
  background-color: var(--basic-white);
}

.interested h3{
  font-size: 30px;
}

.rating{
  background-color: var(--basic-dark-white);
  color:var(--basic-light-grey);
}

.search-form{
  background-color: var(--basic-white);
  width: 568px;
}
.form{
  font-weight: 700;
  line-height: 26px;
}
.button{
  color: var(--basic-white);
  font-weight: 700;
}

.button-subtitle{
  background-color: var(--basic-light-brown);
  font-size:21px;
  line-height: 26px;
}

.button-search{
  background-color: var(--basic-light-blue);
  font-size:21px;
  line-height: 26px;
}

.button-more{
  background-color: var(--basic-light-blue);
}

.icon{
  width: 46px;
  height: 48px;
  background-color: var(--basic-light-blue);
  position: center;
  padding: 17px;
}

.button-more:hover, .button-search:hover, .icon:hover{
  background-color: var(--basic-blue);
}

.button-more:active, .button-search:active{
  background-color: var(--basic-dark-blue);
  color: rgba(255, 255, 255, 0.3);
}

.button-book{
  background-color: var(--basic-light-brown);
}

.button-book:hover, .button-subtitle:hover{
  background-color: var(--basic-brown);
}

.button-book:active, .button-subtitle:active{
  background-color: var(--basic-dark-brown);
  color: rgba(255, 255, 255, 0.3);
}

.icon:active img{
  background-color: var(--basic-dark-blue);
  opacity: 0.3;
}
.footer{
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.logo{
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

.logo:hover{
  background-image: url("../img/logo-htmlacademy-hover.svg");
  background-repeat: no-repeat;
}

.logo:active{
  background-image: url("../img/logo-htmlacademy-active.svg");
  background-repeat: no-repeat;
}
